extends ./base.pug
block content
  .container
    h2 Lista moderatorów
    .row
        each mod, index in userList 
            h4 #{mod.username}
            each val, index in mod.permissions
                -var klass = (val === true ? 'ok text-success' : 'remove text-danger')
                .row
                    .col-lg-8
                        if canChangeUserPermissions
                            a(href=`/admin/mods/flip/${mod._id}/${index}`) #{index}
                        else 
                            |#{index}
                        |:
                        span(class='glyphicon glyphicon-'+klass)

