extends ./base.jade
block content
  style.
    .message-bubble{padding:10px 0;word-wrap: break-word}.message-bubble.operator{background-color:#F5F5F5}.time{text-align:right;display:inline}.message-bubble>*{padding-left:10px}.panel-body{padding:0}.panel-heading{background-color:#3d6da7!important;color:#fff!important}
    /*chat snipped from http://bootsnipp.com/snippets/40W9n thx mtownsen*/
  .container
    .row
      .panel.panel-default
        .panel-heading Konwersacja
        .panel-body
          if conversation
            .container#messages
              each message, index in conversation.messages
                -var nickname = (message.OP ? 'OP' : 'Uzytkownik mikrobloga')
                .row.message-bubble(class=message.OP?'operator':'')
                  // span.time #{message.time}
                  p.text-muted #{nickname}
                  span #{message.text}
            .panel-footer
              .input-group
                input#messageBox.form-control(type='text')
                span.input-group-btn
                  button.btn.btn-default.sendMessage(type='button' autocomplete="off") Wyślij
          else
            form(method="post")
              input.form-control(type="text", name="text", placeholder="Wpisz tutaj swoja wiadomosc", autocomplete="off")
              button.btn.btn-large.btn-success(type="submit") Wyślij
block script
  if conversation
    script(type="text/javascript").
      const conversationId = '#{conversation._id}';
      const authCode = '#{conversation.parentID.auth}';
    script(src=siteURL+"/js/chat.js" type="text/javascript")
